@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  select {
    @apply appearance-none;
  }
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
  }

  .animate-spin-fast {
    animation: spin 300ms linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
